 body {
				/*background-color:#7DD174;*/
				padding: 0px;
				margin: 0px;
				/*font-family: 'Schoolbell' , cursive;*/
				font-family: 'Roboto', sans-serif;
}

/*ENCABEZADO*/
header{
	padding: 5px 20px 5px 50px;
    background-color:rgb(189, 99, 99);
}
#Navegador{
				display: flow-root;
}
#Navegador a{
				color: #ece6f1;
				text-decoration: none;
				margin-right: 40px;
				font-size: 22px;
				/*font-family: 'Schoolbell' , cursive;*/
} 
#Navegador a:hover{
				color: #000000;
}
.flot-izquierda{
				float: left;
				padding: 10px 0px 10px;
}
.flot-derecha{
				float: right;
				padding: 10px 5px 11px;
}
#info{
	color: #020202;
}
.tilt{
font-size: 30px;
text-align: center;
}
.texto{
	font-size: 20px;
text-align: center;
}
#convert{
font-size: 20px;
text-align: center;
}