* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #F1F1F1;
  font-family: 'Roboto', sans-serif;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

body.dark {
  background: #111111;
}

a {
  color: #222222;
  text-decoration: none;
  font-weight: 500;
}

/*.contenedor {
  max-width: 1000px;
  width: 90%;
  margin: auto;
  padding: 50px 0;
}*/

nav {
  background: #FEFEFE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 20px;
  border-radius: 5px;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  -webkit-box-shadow: 10px 10px 20px rgba(170, 170, 170, 0.16);
          box-shadow: 10px 10px 20px rgba(170, 170, 170, 0.16);
}

nav a {
  color: #C8C8C8;
}

nav a:hover {
  color: #FEFEFE;
}

body.dark nav {
  background: #222222;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
}

nav .logotipo {
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

nav .enlaces {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .enlaces a {
  margin-right: 40px;
}

nav .enlaces a:hover {
  color: #707070;
}

.switch {
  background: #040306;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none;
}

.switch::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: #efefef;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  -webkit-box-shadow: 0px 0px 2px 2px rbga(0, 0, 0, 0.2);
          box-shadow: 0px 0px 2px 2px rbga(0, 0, 0, 0.2);
}

.switch.active {
  background: orange;
  color: #000;
}

.switch.active::after {
  right: 0;
  left: unset;
}

.switch span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color: #ffffff;
}

.grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 40px 20px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  padding: 40px 0;
}

.grid .card {
  background: #FEFEFE;
  padding: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 20px rgba(170, 170, 170, 0.16);
          box-shadow: 10px 10px 20px rgba(170, 170, 170, 0.16);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  min-height: 195px;
  margin-top: 50px;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

body.dark .grid .card {
  background: #222222;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
}

.grid .card img {
  vertical-align: top;
  border-radius: 7px;
  position: absolute;
  top: -50px;
  width: calc(100% - 40px);
  max-height: 165px;
  -o-object-fit: cover;
     object-fit: cover;
}

.grid .card .botones {
  width: 100%;
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.grid .card .botones .boton {
  padding: 10px;
  color: #fff;
  width: 100%;
  display: block;
  background: #111111;
  text-align: center;
  border-radius: 5px;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.grid .card .botones .boton.primario {
  background: #3E60E9;
}

.grid .card .botones .boton.primario:hover {
  background: #254BE6;
}

.grid .card .botones .boton.secundario {
  background: #C8C8C8;
}

.grid .card .botones .boton.secundario:hover {
  background: #ACABAB;
}
/*# sourceMappingURL=pruebaaa.css.map */


                 /* pruebas */
#cuerpo {
				display: flex;
}
.contenedorinfo {
    height: 250px;
				width: 300px;
				/*margin: auto;*/
				-webkit-perspective: 700;
}
.inform {
				height: 100%;
				width: 100%;
				position: relative;
				transform-style: preserve-3d;
				transition: 2s;
				left: 5em;

}
.inform:hover {
				transform: rotateY(180deg);
}
#lados {
				height: 100%;
				width: 100%;
				backface-visibility: hidden;
				position: absolute;
    
}
.frente {
				background: #ff4900;
				height: 100%;
				width: 100%;
}
.atras {
			 background: #919191;
			 transform: rotateY(180deg);
			 
}
.tops {
				height: 100%;
				width: 100%;
}
.contenedortext {
    /*background: #ffdc00;*/
				height: 160px;
				width: 550px;
			 margin: auto;
}
.descripcion {
				text-align: center;
			 font-size: 15px;
    color: #b6b6a7;
}

                 /*prueba2*/
#cuerpo2 {
				display: flex;
}
.contenedorinfo1 {
    
    height: 250px;
				width: 300px;
				-webkit-perspective: 700;
}
.inform1 {
				height: 100%;
				width: 100%;
				position: relative;
				transform-style: preserve-3d;
				transition: 2s;
    right: 5em;
}
.inform1:hover {
				transform: rotateY(180deg);
}
#lados1 {
				height: 100%;
				width: 100%;
				backface-visibility: hidden;
				position: absolute;
    
}
.frente1 {
				background: #ff4900;
				height: 100%;
				width: 100%;
}
.atras1 {
			 background: #919191;
			 transform: rotateY(180deg);
			 
}
.tops1 {
				height: 100%;
				width: 100%;
}
.contenedortext1 {
    /*background: #ffdc00;*/
				height: 160px;
				width: 550px;
				margin: auto;
}
.descripcion1 {
				text-align: center;
			 font-size: 15px;
    color: #b6b6a7;
}


                 /*prueba3*/
#cuerpo3 {
				display: flex;
}
.contenedorinfo3 {
    
    height: 250px;
				width: 300px;
				-webkit-perspective: 700;
}
.inform3 {
				height: 100%;
				width: 100%;
				position: relative;
				transform-style: preserve-3d;
				transition: 2s;
     left: 5em;
}
.inform3:hover {
				transform: rotateY(180deg);
}
#lados3 {
				height: 100%;
				width: 100%;
				backface-visibility: hidden;
				position: absolute;
    
}
.frente3 {
				background: #ff4900;
				height: 100%;
				width: 100%;
}
.atras3 {
			 background: #919191;
			 transform: rotateY(180deg);
			 
}
.tops3 {
				height: 100%;
				width: 100%;
}
.contenedortext3 {
    /*background: #ffdc00;*/
				height: 160px;
				width: 550px;
				margin: auto;
}
.descripcion3 {
				text-align: center;
			 font-size: 15px;
    color: #b6b6a7;
}
                 /*prueba4*/
#cuerpo4 {
				display: flex;
}
.contenedorinfo4 {
    
    height: 250px;
				width: 300px;
				-webkit-perspective: 700;
}
.inform4 {
				height: 100%;
				width: 100%;
				position: relative;
				transform-style: preserve-3d;
				transition: 2s;
    right: 5em;
}
.inform4:hover {
				transform: rotateY(180deg);
}
#lados4 {
				height: 100%;
				width: 100%;
				backface-visibility: hidden;
				position: absolute;
    
}
.frente4 {
				background: #ff4900;
				height: 100%;
				width: 100%;
}
.atras4 {
			 background: #919191;
			 transform: rotateY(180deg);
			 
}
.tops4 {
				height: 100%;
				width: 100%;
}
.contenedortext4 {
    /*background: #ffdc00;*/
				height: 160px;
				width: 550px;
				margin: auto;
}
.descripcion4 {
				text-align: center;
			 font-size: 15px;
    color: #b6b6a7;
}
                 /*prueba5*/
#cuerpo5 {
				display: flex;
}
.contenedorinfo5 {
    
    height: 250px;
				width: 300px;
				-webkit-perspective: 700;
}
.inform5 {
				height: 100%;
				width: 100%;
				position: relative;
				transform-style: preserve-3d;
				transition: 2s;
    left: 5em;
}
.inform5:hover {
				transform: rotateY(180deg);
}
#lados5 {
				height: 100%;
				width: 100%;
				backface-visibility: hidden;
				position: absolute;
    
}
.frente5 {
				background: #ff4900;
				height: 100%;
				width: 100%;
}
.atras5 {
			 background: #919191;
			 transform: rotateY(180deg);
			 
}
.tops5 {
				height: 100%;
				width: 100%;
}
.contenedortext5 {
    /*background: #ffdc00;*/
				height: 160px;
				width: 550px;
				margin: auto;
}
.descripcion5 {
				text-align: center;
			 font-size: 15px;
    color: #b6b6a7;
}
                 /*prueba6*/
#cuerpo6 {
				display: flex;
}
.contenedorinfo6 {
    
    height: 250px;
				width: 300px;
				-webkit-perspective: 700;
}
.inform6 {
				height: 100%;
				width: 100%;
				position: relative;
				transform-style: preserve-3d;
				transition: 2s;
    right: 5em;
}
.inform6:hover {
				transform: rotateY(180deg);
}
#lados6 {
				height: 100%;
				width: 100%;
				backface-visibility: hidden;
				position: absolute;
    
}
.frente6 {
				background: #ff4900;
				height: 100%;
				width: 100%;
}
.atras6 {
			 background: #919191;
			 transform: rotateY(180deg);
			 
}
.tops6 {
				height: 100%;
				width: 100%;
}
.contenedortext6 {
    /*background: #ffdc00;*/
				height: 160px;
				width: 550px;
				margin: auto;
}
.descripcion6 {
				text-align: center;
			 font-size: 15px;
    color: #b6b6a7;
}

